* {
    color: white;
    background-color: black;
    text-align: center;
    margin: 0 auto;
}

/* 2018 World Cup FIFA Logo */
#fifa {
    width: 11%;
}

/* Initial Image on Left side of Column */
#world-cup {
    width: 95%;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#fifa2 {
    width: 95%;
    margin-bottom: 1vw;
}

/* Style */
header {
    margin: 2vw 0vw 0vw 0vw;
    padding-bottom: 1vw;
}

h1 {
    color: yellow;
    font-size: 3.5vw;
    text-shadow: 5px 5px 5px white;
}

h2 {
    font-size: 2.5vw;
    text-shadow: 3px 3px 3px yellow;
}

.jumbotron {
    background-color: black;
}

.container {
    height: auto;
}

.col-sm-4 {
    border: 0.3vw dashed white;
}

p {
    font-size: 1.5vw;
    font-family: 'Permanent Marker', cursive;
}

#first-p {
    padding-top: 1vw;
}

#numWins, #underScore {
    color: lightblue;
    font-size: 1.5vw;
}

#numGuessesRemaining, #wrongGuess {
    color: lightcoral;
    font-size: 1.5vw;
}