header {
    border: 1px solid black;
    height: 300px;
    width: 80%;
    margin: 15px auto;
    font-size: 20px;
    text-align: center;
}

body {
    background-color: yellow;
}
.underscores {
    border: 1px solid black;
    height: 150px;
    width: 80%;
    margin: 50px auto;
    font-size: 100px;
    text-align: center;
}

.rightGuess {
    border: 1px solid black;
    height: 150px;
    width: 80%;
    margin: 50px auto;
    font-size: 20px;
    text-align: center;
}

.wrongGuess {
    border: 1px solid black;
    height: 150px;
    width: 80%;
    margin: 50px auto;
    font-size: 20px;
    text-align: center;
}